<%- include('../partials/head.ejs') %>

<header>
  <h1><a href="/">Test</a></h1>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>404 not found</h1>
  <p>Sorry but this page does not exist.</p>
</main>

<%- include('../partials/foot.ejs') %>
