<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/style.css"/>
<link rel="shortcut icon" type=image/x-icon href='https://cdn.shopify.com/s/files/1/1061/1924/products/Peach_Emoji_large.png?v=1480481064'>
<title><%= typeof title === 'undefined' ? '' : title %></title>
