<%- include('../partials/head.ejs') %>
<title>Cookingsite - Add recipe</title>

<header>
  <h1><a href="/recipes">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="/profile">My profile</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>
</header>

<main>

  <form action="/recipes" method="post" enctype=multipart/form-data>

    <fieldset>

      <legend>Add recipe</legend>
      <label>Recipe name
        <input name="Name" placeholder="A catchy name" type="text" />
      </label>
      <label>Short description
        <textarea name="Description" placeholder="Tight but right" type="text" rows="5"></textarea>
      </label>
      <label>Ingredients
        <input name="Ingredients" placeholder="Add ingredients" type="text" />
      </label>
      <label>Instructions
        <textarea name="Instructions" placeholder="Preparation time, for how many persons and instructions" type="text" rows="6"></textarea>
      <label>Preview picture
        <input name="Cover" value="Add photo" type="file" accept="image/*" />
      </label>

      <input type="submit" value="Add recipe" name="recipe" />

    </fieldset>

  </form>

</main>

<%- include('../partials/foot.ejs') %>
