<%- include('../partials/head.ejs') %>
<title>Cookingsite - Add recipe</title>

<header>
  <h1><a href="/">Cookingsite - Add recipe</a></h1>
  <nav>
    <ul>
      <li><a href="/profile">My profile</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>
</header>

<main>

  <form action="recipes" method="post">

    <fieldset>

      <legend>Add recipe</legend>
      <label>Name
        <input name="Name" type="text" />
      </label>
      <label>Description
        <input name="Description" type="text" />
      </label>
      <label>Ingredients
        <input name="Ingredients" type="text" />
      </label>
      <label>Instructions
        <input name="Instructions" type="text" />
      <label>Profile picture
        <input name="Cover" type="file" accept="image/*" />
      </label>

      <input type="submit" name="Register account" />

    </fieldset>

  </form>

</main>

<%- include('../partials/foot.ejs') %>
