<%- include('../partials/head.ejs') %>

<header>
  <h1><a href="/">Test</a></h1>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>

<main>
  <form>
    <fieldset>
      <legend>Login</legend>
      <label>Username</label>
      <input type="text" />
      </label>
      <label>Password
      <input type="text" />
      </label>
    </fieldset>
  </form>
</main>

<%- include('../partials/foot.ejs') %>
