<%- include('../partials/head.ejs') %>
<title>Cookingsite - Login</title>

<header>
  <h1><a href="/">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>

<main>

  <form action="/login" method="post">

    <fieldset>

      <legend>Login</legend>
      <label>Username
        <input name="Username" placeholder="jamieoliver" type="text" required />
      </label>
      <label>Password
        <input name="Password" placeholder="Password" type="password" required />
      </label>
      <input value="Log in" type="submit" />

      <a class="account" href="register">I don't have an account</a>

    </fieldset>

  </form>

</main>

<%- include('../partials/foot.ejs') %>
