<%- include('../partials/head.ejs') %>

<header>
  <h1><a href="/">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>

<main>

  <form action="profile" method="get">

    <fieldset>

      <legend>Login</legend>
      <label>Username</label>
        <input type="text" />
      </label>
      <label>Password
        <input type="text" />
      </label>

      <input type="submit" />

    </fieldset>

  </form>

</main>

<%- include('../partials/foot.ejs') %>
