<%- include('../partials/head.ejs') %>
<title>Cookingsite - Profile</title>

<header>
  <h1><a href="/">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>
</header>

<main>
  <h3><%= User.FirstName %></h3>
  <p><%= User.Details %></p>

  <ul>
    <li>Recipe</li>
  </ul>

</main>

<%- include('../partials/foot.ejs') %>
