<%- include('../partials/head.ejs') %>
<title>Cookingsite - Register</title>

<header>
  <h1><a href="/">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
    </ul>
  </nav>
</header>

<main>

  <form action="/register" method="post">

    <fieldset>

      <legend>Make account</legend>
      <label>First name
        <input name="FirstName" placeholder="Jamie" required />
      </label>
      <label>Last name
        <input name="LastName" placeholder="Oliver" required />
      </label>
      <label>Username
        <input name="Username" placeholder="jamieoliver" required />
      </label>
      <label>Password
        <input class="password" placeholder="Password" name="Password" type="password" required />
      </label>
      <label>Password verification
        <input class="password" placeholder="Repeat password" name="Password2" type="password" required />
      </label>
      <label>Bio
        <textarea name="Details" placeholder="Tell something about yourself" rows="5"></textarea>
      </label>

      <input value="Register account" type="submit" />

      <a class="account" href="login">I already have an account</a>

    </fieldset>

  </form>

</main>

<%- include('../partials/foot.ejs') %>
