<%- include('../partials/head.ejs') %>

<header>
  <h1><a href="/">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>

<main>

  <form action="/register" method="post">

    <fieldset>

      <legend>Make account</legend>
      <label>First name
        <input name="FirstName" />
      </label>
      <label>Last name
        <input name="LastName" />
      </label>
      <label>Username
        <input name="Username" />
      </label>
      <label>Password
        <input class="password" name="Password" type="password" />
      </label>
      <label>Password verification
        <input class="password" name="Password2" type="password" />
      </label>
      <label>Bio
        <textarea name="Details" placeholder="Tell something about yourself" rows="5"></textarea>
      </label>

      <input name="Register account" type="submit" />

    </fieldset>

  </form>

</main>

<%- include('../partials/foot.ejs') %>
