body {
  font-family: 'Open Sans', sans-serif;
  max-width: 80vw;
  margin: 0 auto;
}

h1 a {
  font-family: 'Pacifico', sans-serif;
  text-decoration: none;
  color: rgba(179, 55, 113,1.0);
}

header {
  display: flex;
}

nav {
  position: absolute;
  right: 10vw;
  ul {
    display: flex;
    padding: 0;
    li {
      list-style-type: none;
      margin: 1.25em 1em 0 0;
    }
    a {
      font-weight: bold;
      color: deeppink;
      text-decoration: none;
      transition-duration: 400ms;
      &:hover {
        transform: scaleX(5);
        text-decoration: underline;
      }
    }
  }
}

form {
  fieldset {
    label {
    }
    input {
      margin: 0 0 1em 0;
      display: flex;
      padding: 0.7em;
      font-size: 12pt;
    }
    textarea {
      margin: 0 0 2em 0;
      display: flex;
    }
  }
}
