// Small screens
$screen-sm-max: 514px;

@mixin sm {
   @media (max-width: #{$screen-sm-max}) {
       @content;
   }
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 85vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255,1.0);
}

h1 a {
  font-family: 'Cabin Sketch', cursive;
  text-decoration: none;
  color: rgba(5, 196, 107,1.0);
  @include sm {
    font-size: 0.8em;
  }
}

header {
  display: flex;
}

nav {
  position: absolute;
  right: 7vw;
  ul {
    display: flex;
    padding: 0;
    li {
      list-style-type: none;
      margin: 1.25em 1em 0 0;
    }
    a {
      font-weight: bold;
      color: black;
      text-decoration: none;
      transition-duration: 400ms;
      &:hover {
        transform: scaleX(5);
        text-decoration: underline;
      }
    }
  }
}

form {
  padding: 1em;
  border: rgba(206, 214, 224,1.0) solid 0.001em;
  max-width: 25em;
  background-color: rgba(241, 242, 246,0.6);
  border: none;
  fieldset {
    border: none;
    legend {
      padding-left: 0;
      font-weight: bold;
      margin-bottom: 1em;
    }
    label {
    }
    input, textarea {
      margin: 0 0 1em 0;
      display: flex;
      padding: 0.7em;
      font-size: 12pt;
      transition-duration: 400ms;
      border: rgba(206, 214, 224,1.0) solid 0.001em;
      border-radius: 4px;
      &:focus {
        outline: none;
        border: deeppink solid 0.001em;
      }
    }
    input[type=file] {
      margin: 0 0 2em 0;
      border: rgba(206, 214, 224,1.0) solid 0.001em;
      display: flex;
      max-width: 12em;
    }
    input[type=submit] {
      color: white;
      background-color: rgba(252, 66, 123,1.0);
      border: none;
      &:hover {
        background-color: rgba(253, 114, 114,1.0);
        cursor: pointer;
      }
    }
  }
}

.account {
  text-decoration: none;
  font-weight: bold;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

#recipes {
  h1 {
    margin: 0;
  }
  footer {
    margin: 0 0 2em 0;
  }
  .button {
    margin: 10em 0 0 0;
    padding: 0.6em;
    background-color: deeppink;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 400ms;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    &:hover {
      background-color: purple;
    }
  }
  article {
    margin: 2em 0 2em 0;
    background-color: rgba(251, 237, 172, 1);
    padding: 1em;
    transition-duration: 500ms;
    &:hover {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      background-color: rgba(254, 186, 118, 1);
    }
    h2 {
      font-family: 'Cabin Sketch', cursive;
      margin: 0.3em 0 0.1em 0;
    }
    a {
      color: black;
      text-decoration: none;
    }
    p {
      margin: 0 0 0.1em 0;
    }
  }
}

#recipe {
  max-width: 25em;
  background-color: rgba(5, 196, 107,1.0);
  color: white;
  padding: 1em;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  h1,h3 {
    // font-weight: bold;
    margin: 1em 0 0 0;
  }
  p {
    margin: 0 1em 0 0;
  }
  section {
    img {
      background: cover;
      width: 100%;
      height: auto;
    }
  }
}
