<%- include('partials/head.ejs') %>
<title>Cookingsite</title>

<header>
  <h1><a href="/">Cookingsite</a></h1>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>

<main>
  <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/l41YtfUCfOVUkiYcU" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/masterchef-chefs-home-cooks-masterchef-season-7-l41YtfUCfOVUkiYcU">via GIPHY</a></p>

</main>

<%- include('partials/foot.ejs') %>
